<div class="container" style="height: 80vh">

  <div class="row" style="height: 20vh">
      <h1 class="text-center">MoneyxChange</h1>
  </div>
  <div class="row" style="background-color:beige;padding-top:40px;padding-bottom:40px">

    <form (ngSubmit)="calculate(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-4"></div>            
            <div class="col-md-6">
              <input required ngModel type="text" id="amount" class="form-control" name="amount" currencyMask
                [options]="{ prefix: '$ ', thousands: ',', decimal: '.',align:'left',precision:'4' }" />
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-2"></div>            
            <div class="col-md-6">
              <input placeholder="EU" [disabled]="true" [(ngModel)]="value" type="text" id="value" class="form-control" name="value"
                currencyMask [options]="{ prefix: '€ ', thousands: ',', decimal: '.',align:'left',precision:'4' }" />
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="height: 50px">   
          <h5 class="text-center">Valor del Euro: {{rate}}</h5>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary center-block" style="width:200px" [disabled]="f.invalid || f.value.amount===0">Calculate</button>
      </div>
    </form>

  </div>
  <div class="row h-33">


  </div>
</div>